services:
  challenge:
    build: challenge
    ports:
      - "4000:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DATABASE_URL=${POSTGRES_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app-network
  community:
    build: community
    ports:
      - "6000:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DATABASE_URL=${POSTGRES_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app-network
  gateway:
    build: gateway
    ports:
      - "5000:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - IDENTITY_SERVICE_URL=http://identity:80
      - LEARN_SERVICE_URL=http://learn:80
      - PORTAL_SERVICE_URL=http://portal:80
      - DATABASE_URL=${POSTGRES_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app-network
  identity:
    build: identity
    ports:
      - "7000:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DATABASE_URL=${POSTGRES_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app-network
  learn:
    build: learn
    ports:
      - "8000:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DATABASE_URL=${POSTGRES_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app-network
  portal:
    build: portal
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DATABASE_URL=${POSTGRES_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - app-network
  postgres:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - app-network
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8081:8081"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    depends_on:
      - postgres
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
